*{
    box-sizing: border-box
    margin: 0;
    padding: 0;
}

    header {
        background-color: rgb(239, 235, 235);
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 3px 3px 4px #050505;
}

    header img{
        height: 100px;
        width: 100px;
        border-radius: 50px;
        box-shadow: 2px 2px 6px #050505;
        border:#3a3737 2px solid;
        padding: 5px;       
}
    header h1{
        font-size: 32px;
        font-family: manospace;
        color:rgb(16, 16, 16) 
}
    nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
}
    nav ul{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        list-style: none;
}
    nav li{
        margin:0 10px;
}
    nav a{
        color: #0e0d0d;
        font-size: 22px;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
}
    nav a:hover{
        color:aquamarine;
}
    .hero-image{
        background-color: aliceblue;
        background-image: url(https://i.pinimg.com/564x/98/a7/39/98a73991dd18a0eefc40f11defaadbd5.jpg);
        background-size: cover;
        background-position: center;
        padding: 100px 10px;
        margin: 5px auto;
        text-align: center;
}
    main{
        background-color: darkgreen;
        padding: 20px;
        margin: 0 auto;
}
    .hero-image h2{
        color:beige;
        font-size: 40px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        text-shadow: 2px 2px 4px #666;
        margin: 10px auto;
}
    .boton{
        background-color: #7afbca;
        color:cadetblue;
        text-decoration: none;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 15px;
        transition: background-color 0.6s;
}
    .boton:hover{
        background-color:lightblue;
}
    .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
}
.cards a{
    text-decoration: none;
}
.cards ul{
    list-style: none;
    justify-content: space-between;
}
.cards li{
    flex-basis: 20%;
}
.economia-circular{
    background-color: bisque;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 3px 3px 4px #3a3737;
}
.economia-circular h3{
    color: #0e0d0d;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    margin: 20px auto;
    text-align: center;
}
.economia-circular h4{
    color: #050505;
    font-size: 25px;
    font-weight: bold;
    font-family: monospace;
    margin: 20px auto;
    text-align: center;
}
.economia-circular p{
    color: #050505;
    font-size: 12px;
    font-weight: bold;
    font-family: monospace;
    margin: 20px auto;
    text-align: center;
}
.economia-circular a{
    color: #050505;
    font-size: 12px;
    font-weight: bold;
    font-family: monospace;
    margin: 20px auto;
    text-align: center;
}
.economia-circular ul{
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.economia-circular{
    margin: 10px auto;
    width: 290px;
    background-color: #666;
    box-shadow: #0e0d0d;
    border-radius: 10px 10px 0 0;
    transition: box-shadow 0.5s;

}